@using SistemaDeTurnos.Models
@model List<Medico>

<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<html>
<body>
    <main>
        <div style="padding-left: 10px">

            <h4>Profesionales:</h4>
            <span style="z-index:0; color: #0275d8">@Html.ActionLink("Nuevo", "Create", "Medico", null, new { @class = "glyphicon glyphicon-plus" })</span>
            @using (Html.BeginForm())
            {
                <table class="table table-condensed table-hover table-responsive" style="display: block; margin-left: auto; margin-right: auto;">
                    <thead>
                        <tr>Buscar Profesional</tr>
                    </thead>
                    <tbody style="color: #0275d8">
                        <tr>
                            <td>
                                <input name="busquedaMedico" type="text" class="form-control" autocomplete="off" />
                            </td>
                            <td class="text-right">
                                <button class="glyphicon glyphicon-search btnCrear" style="color: #0275d8"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
            <table class="table table-condensed table-hover table-responsive" style="display: block; margin-left: auto; margin-right: auto;">

                @foreach (Medico medico in this.Model)
                {
                    <tr>
                        <td><a class="clickNombre" onclick="location.href='@Url.Action("Details", "Medico",new { Id = medico.Id_Medico})'">@medico.Apellido, @medico.Nombre</a></td>
                        <td></td>
                        <td class="text-left">
                            <div class="text-left">
                                @Html.ActionLink(" ", $"Edit", new { Id = medico.Id_Medico }, new
                           {
                               @class = "glyphicon glyphicon-edit",
                               style = "font-size: 1.Sem"
                           })

                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </main>
</body>
</html>
