@using SistemaDeTurnos.Models
@model List<Medico>

<!DOCTYPE html>

<html>
<body>
    <main>
        <div>

            <p>Medicos:</p>
            <span style="z-index:0; color: #15004D">@Html.ActionLink("Nuevo", "Create", "Medico", null, new { @class = "glyphicon glyphicon-plus" })</span>
            @using (Html.BeginForm())
            {
                <table>
                    <thead>
                        <tr>Buscar Medico</tr>
                    </thead>
                    <tbody style="color: #15004D">
                        <tr>
                            <td>
                                <input name="busquedaMedico" type="text" class="form-control" autocomplete="off" />
                            </td>
                            <td class="text-right">
                                <button class="glyphicon glyphicon-search btnCrear"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
            <table class="table-condensed table-hover table-responsive">

                @foreach (Medico medico in this.Model)
                {
                    <tr>
                        <td><a class="clickNombre" onclick="location.href='@Url.Action("Details", "Medico",new { Id = medico.Id_Medico})'">@medico.Apellido, @medico.Nombre</a></td>
                        <td></td>
                        <td class="text-left">
                            <div class="text-left">
                                @Html.ActionLink(" ", $"Edit", new { Id = medico.Id_Medico }, new
                           {
                               @class = "glyphicon glyphicon-edit",
                               style = "font-size: 1.Sem"
                           })

                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </main>
</body>
</html>
