@using SistemaDeTurnos.Models
@model Paciente

@{
    ViewBag.Title = "Details";
}
@{ 
        Ficha ficha = this.ViewBag.Ficha;
        if(ficha.Antecedentes == null)
        {
            ficha.Antecedentes = "";
        }
        if (ficha.Contraindicaciones == null)
        {
            ficha.Contraindicaciones = "";
        }
        if(ficha.Diagnostico == null)
        {
            ficha.Diagnostico = "";
        }
}

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<html>
<body>
    <main>
        <h2>@this.ViewBag.TituloPagina</h2>
        <div style="color: #713bff">
            @Html.ActionLink("Editar    ", $"Edit", new { Id = this.Model.Id_Paciente }, new
            {
                @class = "btn glyphicon glyphicon-edit",
                style = "font-size: 1.Sem"
            })


            @Html.ActionLink("Borrar   ", "Delete", new { Id = this.Model.Id_Paciente }, new
            {
                @class = "btn glyphicon glyphicon-trash",
                style = "font-size: 1.Sem"
            })
            <a href="/Paciente/Index" class="btn glyphicon glyphicon-menu-left" >Volver</a>

        </div>
        <div>
        </div>
        <table class="table text-left" id="tablaCrea">
            <tbody>
                <tr style="padding-bottom: 15px; padding-top: 15px">
                    <td>
                        <label>Nombre: </label>
                        <p> @this.Model.Nombre </p>
                    </td>
                    <td>
                        <label>Apellido</label>
                        <p>@this.Model.Apellido </p>
                    </td>
                    <td>
                        <label>DNI        </label>
                        <p> @this.Model.Dni </p>
                    </td>
                    <td>
                        <label>Fecha de Nacimiento</label>
                        <p>@this.Model.Fecha_Nac </p>
                    </td>

                    <td>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#Ficha">Ver Ficha</button>

                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Dirección</label>
                        <p> @this.Model.Direccion </p>
                    </td>
                    <td>
                        <label>Teléfono</label>
                        <p>@this.Model.Telefono </>
                    </td>
                    <td>
                        <label>Teléfono de Contácto</label>
                        <p> @this.Model.Telefono_Contacto</p>
                    </td>
                    <td>
                        <label>Obra Social</label>
                        <p>@this.Model.Obra_Social</p>
                    </td>
                    <td>
                        <label>Número de Obra Social</label>
                        <p>@this.Model.Numero_OS</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modal -->
        <div id="Ficha" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@this.Model.Nombre @this.Model.Apellido</h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td>
                                    <label>Fecha de Ingreso</label>
                                    <p>@ficha.Fecha_Ingreso</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Antecedentes</label>
                                    <p>@ficha.Antecedentes</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Diagnostico</label>
                                    <p>@ficha.Diagnostico</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Contraindicaciones</label>
                                    <p>@ficha.Contraindicaciones</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Editar    ", $"../Ficha/Edit", new { Id = ficha.Id_Ficha }, new
                        {
                            @class = "btn glyphicon glyphicon-edit",
                            style = "font-size: 1.Sem"
                        })
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
</html>
