@using SistemaDeTurnos.Models
@model Paciente

@{
    ViewBag.Title = "Details";
}
@{
    Ficha ficha = this.ViewBag.Ficha;
    if (ficha == null)
    {
        ficha = new Ficha();
    }
    if (ficha.Antecedentes == null)
    {
        ficha.Antecedentes = "";
    }
    if (ficha.Contraindicaciones == null)
    {
        ficha.Contraindicaciones = "";
    }
    if (ficha.Diagnostico == null)
    {
        ficha.Diagnostico = "";
    }
}

<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<html>
<body>
    <main>
        <h2>@this.ViewBag.TituloPagina</h2>
        <div style="padding-left: 15px; padding-bottom:5px; color: #0275d8">
            @Html.ActionLink("Editar    ", $"Edit", new { Id = this.Model.Id_Paciente }, new
            {
                @class = "btn-link glyphicon glyphicon-edit",
                style = "font-size: 1.Sem"
            })

            <button type="button" class="btn-link glyphicon glyphicon-trash" data-toggle="modal" data-target="#BorraPaciente">Borrar</button>
            <a href="/Paciente/Index" class="btn-link glyphicon glyphicon-menu-left">Volver</a>

        </div>
        <div>
        </div>
        <table class="table text-left" id="tablaCrea">
            <tbody>
                <tr style="padding-bottom: 15px; padding-top: 15px">
                    <td>
                        <label>Nombre: </label>
                        <p> @this.Model.Nombre </p>
                    </td>
                    <td>
                        <label>Apellido</label>
                        <p>@this.Model.Apellido </p>
                    </td>
                    <td>
                        <label>DNI        </label>
                        <p> @this.Model.Dni </p>
                    </td>
                    <td>
                        @{
                            DateTime faux = (DateTime)this.Model.Fecha_Nac;
                            string fechaNac = faux.ToString("dd/MM/yyyy");
                        }
                        <label>Fecha de Nacimiento</label>
                        <p>@fechaNac</p>
                    </td>

                    <td>
                        <button type="button" class="btn" data-toggle="modal" data-target="#Ficha">Ver Ficha</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Dirección</label>
                        <p> @this.Model.Direccion </p>
                    </td>
                    <td>
                        <label>Teléfono</label>
                        <p>@this.Model.Telefono </>
                    </td>
                    <td>
                        <label>Teléfono de Contácto</label>
                        <p> @this.Model.Telefono_Contacto</p>
                    </td>
                    <td>
                        <label>Obra Social</label>
                        <p>@this.Model.Obra_Social</p>
                    </td>
                    <td>
                        <label>Número de Obra Social</label>
                        <p>@this.Model.Numero_OS</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn" data-dismiss="modal" data-toggle="modal" data-target="#Observaciones">Observaciones</button>
                    </td>
                    <td>
                        <button type="button" class="btn" data-dismiss="modal" data-toggle="modal" data-target="#Tratamientos">Tratamientos</button>
                    </td>
                    <td>
                        <button type="button" class="btn" data-dismiss="modal" data-toggle="modal" data-target="#Turnos">Ver Turnos</button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <!-- Modals -->
        <!--Modal Ficha-->
        <div id="Ficha" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="left">@this.Model.Nombre @this.Model.Apellido</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td>
                                    @{
                                        DateTime fiaux = (DateTime)ficha.Fecha_Ingreso;
                                        string fechaIng = fiaux.ToString("dd/MM/yyyy");
                                    }
                                    <label>Fecha de Ingreso</label>
                                    <p>@fechaIng</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Antecedentes</label>
                                    <p>@ficha.Antecedentes</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Diagnostico</label>
                                    <p>@ficha.Diagnostico</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Contraindicaciones</label>
                                    <p>@ficha.Contraindicaciones</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Editar    ", $"../Ficha/Edit", new { Id = ficha.Id_Ficha }, new
                        {
                            @class = "btn glyphicon glyphicon-edit",
                            style = "font-size: 1.Sem"
                        })
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Observaciones -->
        <div id="Observaciones" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@this.Model.Nombre @this.Model.Apellido</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h3>Observaciones</h3>
                        <table>
                            @if (this.ViewBag.Observaciones != null)
                            {
                                foreach (Observacion o in this.ViewBag.Observaciones)
                                {
                                    DateTime f = (DateTime)o.Fecha;
                                    string fecha = f.ToString("dd/MM/yyyy");

                                    Medico maux = new Medico();
                                    foreach (Medico m in this.ViewBag.Medicos)
                                    {
                                        if (m.Id_Medico == o.Id_Medico)
                                        {
                                            maux = m;
                                        }
                                    }
                                    <tr>
                                        <td>
                                            <p>Fecha de la observación: @fecha</p>
                                            <blockquote class="blockquote text-center">
                                                <p class="mb-0">@o.Detalle</p>
                                                <p class="blockquote-footer">Observado por <cite title="Source Title">@maux.Apellido, @maux.Nombre</cite></p>
                                            </blockquote>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar    ", $"../Observacion/Edit", new { Id = o.Id_Observacion }, new
                                            {
                                                @class = "btn glyphicon glyphicon-edit",
                                                style = "font-size: 1.Sem"
                                            })
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <h3>No se registran Observaciones</h3>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Agregar    ", $"../Observacion/Create/", new { idPaciente = this.Model.Id_Paciente }, new
                                            {
                                                @class = "btn btn-default"
                                            })
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Tratamientos -->
        <div id="Tratamientos" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@this.Model.Nombre @this.Model.Apellido</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h3>Tratamientos</h3>
                        <table>
                            @if (this.ViewBag.Tratamientos != null)
                            {
                                foreach (Tratamiento t in this.ViewBag.Tratamientos)
                                {
                                    DateTime f = (DateTime)t.Fecha;
                                    string fecha = f.ToString("dd/MM/yyyy");

                                    Medico maux = new Medico();
                                    foreach (Medico m in this.ViewBag.Medicos)
                                    {
                                        if (m.Id_Medico == t.Id_Medico)
                                        {
                                            maux = m;
                                        }
                                    }
                                    <tr>
                                        <td>
                                            <p>Fecha del Tratamiento: @fecha:</p>
                                            <blockquote class="blockquote text-center">
                                                <p class="mb-0">@t.Detalle</p>
                                                <p class="blockquote-footer">Tratamiento dictado por <cite title="Source Title">@maux.Apellido, @maux.Nombre</cite></p>
                                            </blockquote>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar    ", $"../Tratamiento/Edit", new { Id = t.Id_Tratamiento }, new
                                            {
                                                @class = "btn glyphicon glyphicon-edit",
                                                style = "font-size: 1.Sem"
                                            })
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <h3>No se registran Tratamientos</h3>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Agregar    ", $"../Tratamiento/Create/", new { idPaciente = this.Model.Id_Paciente }, new
                                                                   {
                                                                       @class = "btn btn-default"
                                                                   })                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Turnos -->
        <div id="Turnos" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@this.Model.Nombre @this.Model.Apellido</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h3>Turnos</h3>
                        <table>
                            @if (this.ViewBag.Turnos != null)
                            {
                                foreach (Turno t in this.ViewBag.Turnos)
                                {
                                    DateTime f = (DateTime)t.Fecha_Inicio;
                                    string fecha = f.ToString("dd/MM/yyyy HH:mm");
                                    Medico maux = new Medico();
                                    foreach (Medico m in this.ViewBag.Medicos)
                                    {
                                        if (m.Id_Medico == t.Id_Medico)
                                        {
                                            maux = m;
                                        }
                                    }
                                    <tr>
                                        @{
                                            if (t.Fecha_Inicio < DateTime.Now)
                                            {
                                                <td>
                                                    <blockquote class="blockquote text-center" style="background-color:#e87d7d">
                                                        <p class="mb-0">Turno: @fecha</p>
                                                        <p>Asignado a @maux.Apellido, @maux.Nombre</p>
                                                        <h5 style="text-align:left">El turno ya pasó</h5>
                                                    </blockquote>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <blockquote class="blockquote text-center">
                                                        <p class="mb-0">Turno: @fecha</p>
                                                        <p>Asignado a @maux.Apellido, @maux.Nombre</p>
                                                    </blockquote>
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Editar    ", $"../Turno/Edit", new { Id = t.Id_Turno }, new
                                               {
                                                   @class = "btn glyphicon glyphicon-edit",
                                                   style = "font-size: 1.Sem"
                                               })
                                                    @Html.ActionLink("Suspender    ", "../Turno/Delete", new { Id = t.Id_Turno }, new
                                               {
                                                   @class = "btn glyphicon glyphicon-remove"
                                               })
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <h3>No se registran Turnos</h3>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Agregar    ", $"../Turno/CreateFromPaciente/", new { Id = this.Model.Id_Paciente }, new
                                                                   {
                                                                       @class = "btn btn-default"
                                                                   })
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Borrar paciente -->
        <div id="BorraPaciente" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body alert alert-dismissible alert-danger">
                        <h3>Seguro que desea eliminar al paciente @this.Model.Apellido, @this.Model.Nombre</h3>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Confirmar    ", "Delete", new { Id = this.Model.Id_Paciente }, new
                                            {
                                                @class = "btn btn-danger"
                                            })
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Cancelar Turno -->
        <div id="CancelaTurno" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body alert alert-dismissible alert-danger">
                        <h3>Seguro que desea cancelar el turno?</h3>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Confirmar    ", "Delete", new { Id = this.Model.Id_Paciente }, new
                                            {
                                                @class = "btn btn-danger"
                                            })
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
</html>
