@using SistemaDeTurnos.Models
@model Paciente

@{
    ViewBag.Title = "Create";
}
@{
    Ficha ficha = this.ViewBag.Ficha;
    if (ficha.Antecedentes == null)
    {
        ficha.Antecedentes = "";
    }
    if (ficha.Contraindicaciones == null)
    {
        ficha.Contraindicaciones = "";
    }
    if (ficha.Diagnostico == null)
    {
        ficha.Diagnostico = "";
    }
}

<!DOCTYPE html>
<html>
<body>
    <main>
        <form method="post">
            <p>Datos del Paciente:</p>
            <table class="text-left" id="tablaCrea">
                <tbody style="padding-bottom: 15px">
                    <tr style="padding-bottom: 15px; padding-top: 15px">
                        <td>
                            <label>Nombre</label>
                            <input class="form-control" type="text" name="Nombre" value="@this.Model.Nombre" required />
                        </td>
                        <td>
                            <label>Apellido</label>
                            <input class="form-control" type="text" name="Apellido" value="@this.Model.Apellido" required />
                        </td>
                        <td>
                            <label>DNI (sin puntos)</label>
                            <input class="form-control" type="text" name="Dni" value="@this.Model.Dni" pattern="[0-9]{7-8}" required />
                        </td>
                        <td>
                            <label>Fecha de Nacimiento</label>
                            <input class="form-control" type="text" name="Fecha_Nac" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" value="@this.Model.Fecha_Nac." required />
                        </td>
                        <td>
                            <button type="button" class="form btn btn-sm" data-toggle="modal" data-target="#Ficha">Ver Ficha</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Dirección</label>
                            <input class="form-control" type="text" name="Direccion" value="@this.Model.Direccion" required />
                        </td>
                        <td>
                            <label>Teléfono</label>
                            <input class="form-control" type="text" name="Telefono" value="@this.Model.Telefono" required />
                        </td>
                        <td>
                            <label>Teléfono de Contácto</label>
                            <input class="form-control" type="text" name="Telefono_Contacto" value="@this.Model.Telefono_Contacto" required />
                        </td>
                        <td>
                            <label>Obra Social</label>
                            <input class="form-control" type="text" name="Obra_Social" value="@this.Model.Obra_Social" required />
                        </td>
                        <td>
                            <label>Número de Obra Social</label>
                            <input class="form-control" type="text" name="Numero_OS" value="@this.Model.Numero_OS" required />
                        </td>
                        <td>
                            <input class="form-control" type="hidden" name="Id_Paciente" value="@this.Model.Id_Paciente" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn">Enviar Datos</button>
        </form>

        <!-- Modal -->
        <div id="Ficha" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@this.Model.Nombre @this.Model.Apellido</h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td>
                                    <label>Fecha de Ingreso</label>
                                    <p>@ficha.Fecha_Ingreso</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Antecedentes</label>
                                    <p>@ficha.Antecedentes</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Diagnostico</label>
                                    <p>@ficha.Diagnostico</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Contraindicaciones</label>
                                    <p>@ficha.Contraindicaciones</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Editar    ", $"../Ficha/Edit", new { Id = ficha.Id_Ficha }, new
                        {
                            @class = "btn glyphicon glyphicon-edit",
                            style = "font-size: 1.Sem"
                        })
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
</html>
