@using SistemaDeTurnos.Models
@model Paciente

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>
<html>
<body>
    <main>
        <form method="post">
            <h2>@this.ViewBag.TituloPagina</h2>
            Datos del Paciente:
            <table class="text-left" id="tablaCrea">
                <tbody>
                    <tr style="padding-bottom: 15px; padding-top: 15px">
                        <td>
                            <label>Nombre</label>
                            <input type="text" name="Nombre" value="@this.Model.Nombre" required />
                        </td>
                        <td>
                            <label>Apellido</label>
                            <input type="text" name="Apellido" value="@this.Model.Apellido" required />
                        </td>
                        <td>
                            <label>DNI (sin puntos)</label>
                            <input type="text" name="Dni" value="@this.Model.Dni" pattern="[0-9]{8}" required  />
                        </td>
                        <td>
                            <label>Fecha de Nacimiento</label>
                            <input type="text" name="Fecha_Nac" value="@this.Model.Fecha_Nac" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Dirección</label>
                            <input type="text" name="Direccion" value="@this.Model.Direccion" required />
                        </td>
                        <td>
                            <label>Teléfono</label>
                            <input type="text" name="Telefono" value="@this.Model.Telefono" required />
                        </td>
                        <td>
                            <label>Teléfono de Contácto</label>
                            <input type="text" name="Telefono_Contacto" value="@this.Model.Telefono_Contacto" required />
                        </td>
                        <td>
                            <label>Obra Social</label>
                            <input type="text" name="Obra_Social" value="@this.Model.Obra_Social" required />
                        </td>
                        <td>
                            <label>Número de Obra Social</label>
                            <input type="text" name="Numero_OS" value="@this.Model.Numero_OS" required />
                        </td>
                        <td>
                            <input type="hidden" name="Id_Autor" value="@this.Model.Id_Paciente" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn">Enviar Datos</button>
        </form>
    </main>
</body>
</html>
